
 <div class="closestStationPopupBox">
     <div class="station">
       <div class="fuelPrices">
         <p>Distance: {{stationFound.distancetoDest}}</p>
         <p>Time: {{stationFound.timeTakenString}}</p>
         <p>Petrol: {{stationFound.closestStation.PetrolPrice}}<p>
         <p>Diesel: {{stationFound.closestStation.DieselPrice}}<p>
       </div>
       <div class="stationIcon">
         <img src="../www/img/{{stationFound.closestStation.Icon}}" style="width:50px;height:50px;">
       </div>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       Next closest station is <b>{{stationFound2.distancetoDest}}</b> away
       <!-- <div>
         <p>Distance: {{stationFound2.distancetoDest}}</p>
         <p>Time: {{stationFound2.timeTakenString}}</p>
         <p>Petrol: {{stationFound2.closestStation.PetrolPrice}}<p>
         <p>Diesel: {{stationFound2.closestStation.DieselPrice}}<p>
       </div>
       <div class="stationIcon">
         <img src="../www/img/{{stationFound2.closestStation.Icon}}" style="width:50px;height:50px;">
       </div> -->

     </div>
 </div>
