<ion-view title="Map">
  <ion-header-bar class="bar-stable top-nav">
    <h1 class="title">FindMeFuel</h1>
  </ion-header-bar>
  <ion-content scroll="false">
          <map on-create="mapCreated(map)"></map>
  </ion-content>
  <!--ng-show="directionsPresent" this is to go in the edit box id -->
  <!-- <div class="innerContent closestStationDiv">
    <h6>Closest station: <h5>{{closestStation}}</h5></h6>
  </div> -->
  <!--ng-show="directionsPresent"-->
    <div id="editBox" class="innerContent directionsBox" ng-show="directionsPresent"  ng-click="toggleView()">
      <div class="item item-icon-right directions-nav" href="#" >
        <i class="icon ion-android-car"></i>
          Directions
      </div>
      <div id="directions-panel" class="lowerDirectionsDiv">
        <div  class="directions">  </div>
    </div>
  </div>
  <ion-footer-bar class="bar-stable lower-nav">
    <a ng-click="#" class="button button-icon icon ion-ios-home"></a>
    <a ng-click="popover.show($event)" class="button button-icon ion-more"></a>
  </ion-footer-bar>
</ion-view>
