<ion-popover-view>
        <ion-content>
          <div class="list">
            <a class="item ion-android-car" target="_blank" ng-click="getMeDirections(); popover.hide($event);">
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Find Me Fuel
            </a>
            <a class="item ion-navigate" ng-show="!followingMe" target="_blank" ng-click="followMe(); popover.hide($event);">
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp My Location
            </a>
            <a class="item ion-navigate positive" ng-show="followingMe" target="_blank" ng-click="stopFollowingMe(); popover.hide($event);">
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Stop Following me
            </a>
            <a class="item ion-ios-location" target="_blank">
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Stations Near Me
            </a>
            <a class="item ion-gear-a" target="_blank" ng-click="firebaseCheck();">
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp My Preferences
            </a>
            <a class="item assertive" target="_blank" ng-click="popover.hide($event)">
              Cancel
            </a>
          </div>
        </ion-content>
      </ion-popover-view>


          <!-- /*

          If only you knew about the game I play
          sitting here infront of you - laughing all day
          when you find out I hope you laugh

          what to text, its baffiling me
          maybe mention an injury?
          If only you knew about the game I play
          sitting here infront of you - laughing all day
          how many times will it take to send
          before you reply and claim your spends

          oh so rude, Im very impressed
          its been a while since Ive seen your breasts
          half one seems so far away
          Id rather sneak under your table
          and have a play


          You do know the way to my heart
          A bit of welsh tongue and Im there in ...
          2017 should be fun


          You do know the way to my heart
          A bit fo welsh tongue and it egnites the spark
          2017 is going to be so fun
          I already miss your peachy bum
          I hope to see you sometime this month
          so the games can begin again we can have some fun -->
