<ion-popover-view>
        <ion-content>
          <div class="list">
            <a class="item ion-android-car" target="_blank">
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Find Me Fuel
            </a>
            <a class="item ion-navigate" ng-show="!followingMe" target="_blank" ng-click="followMe(); popover.hide($event);">
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp My Location
            </a>
            <a class="item ion-navigate positive" ng-show="followingMe" target="_blank" ng-click="stopFollowingMe(); popover.hide($event);">
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Stop Following me
            </a>
            <a class="item ion-ios-location" target="_blank">
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Stations Near Me
            </a>
            <a class="item ion-gear-a" target="_blank">
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp My Preferences
            </a>
            <a class="item assertive" target="_blank" ng-click="popover.hide($event)">
              Cancel
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
