
 <div class="closestStationPopupBox">
     <div class="preferences">
       <div class="list">
         <label class="item item-input item-select">
            <div class="input-label">
              Fuel Price:
            </div>
            <select ng-model="fuelPrice" ng-change="defineFuelPrice(fuelPrice)">
                <option value="098">£0.98</option>
                <option value="099">£0.99</option>
                <option value="100">£1.00</option>
                <option value="101">£1.01</option>
                <option value="105">£1.05</option>
                <option value="112">£1.12</option>
                <option value="125">£1.25</option>
                <option value="130">£1.30</option>
            </select>
          </label>
         <label class="item item-input item-select">
            <div class="input-label">
              MPG:
            </div>
            <select ng-model="MPG" ng-change="defineMPG(MPG)">
              <option>12</option>
              <option>14</option>
              <option>16</option>
              <option>18</option>
              <option>20</option>
              <option>22</option>
              <option>24</option>
              <option>26</option>
              <option>28</option>
              <option>30</option>
              <option>32</option>
              <option>34</option>
              <option>36</option>
              <option>38</option>
              <option>40</option>
              <option>42</option>
              <option>44</option>
              <option>46</option>
              <option>48</option>
              <option>50</option>
              <option>52</option>
              <option>54</option>
              <option>56</option>
            </select>
          </label>
        </div>
     </div>
 </div>
