/* Empty. Add your own CSS if you like */

map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}

.lower-nav{
  /*background: #353A4C !important;*/
}

.top-nav{
/*background-color: #353A4C !important; */
}

.mainPageButton{
  margin-top: 3%;
  height: 120px;
  text-align: center;
  border-radius: 10px;

}
.mainPageButton p{
  font-size: x-large;
  margin-top: 14%;
}

.innerContent{
  height: 80%
  background-color: white;
  margin:12%;
}

/*------------------------------
//     For the Directions
/*------------------------------*/
/*main box*/
.directionsBox{
  background-color: white;
  position: relative;
  margin-top: 110%;
  height: 31%;
  border: 2px grey solid;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  overflow: scroll;
}

.directions{
margin-top:20%;
border-radius: 20px;
}

.directions-nav{
  position: fixed;
  width: 100%;
  height: 63px;
  border: 3px grey solid;
}
.lowerDirectionsDiv{
  position: absolute;


}

/*---------------------------------
//     For the closest station box
/*--------------------------------*/
.closestStationDiv{
  background-color: white;
  border: 3px black solid;
  position: relative;
  padding: 10px;
}


/*------------------------------
//     For the Main Menu
/*------------------------------*/
.homePage{
  background: -moz-linear-gradient(45deg, rgba(244,255,240,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(244,255,240,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(45deg, rgba(244,255,240,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(45deg, rgba(244,255,240,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(45deg, rgba(244,255,240,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
background: linear-gradient(45deg, rgba(244,255,240,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#F4FFF0',GradientType=1 ); /* ie6-9 */
}
